@keyframes gpt-pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.chat-gpt-button {
    margin-left: 10px;
    margin-top: 3px;
    border-radius: none !important;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    border-image: none;
}    

.chat-gpt-button.disabled, .chat-gpt-button[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    opacity: 0.65;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.chat-gpt-button:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    cursor: pointer;
}

.chat-gpt-button:active {
    color: #333;
    background-color: #e6e6e6;
    background-image: none;
    border-color: #adadad;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
    box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
}

.chat-gpt-copy-button {
    position: relative;
    float: right;
    margin-bottom: -5px;
}

.chat-gpt-container {
  margin-bottom: 30px;
  border-radius: 8px;
  border: 1px solid;
  flex-basis: 0;
  flex-grow: 1;

  &.sidebar-free {
    margin-left: 30px;
    height: fit-content;
  }

  @media (prefers-color-scheme: light) {
    border-color: #dadce0;
    background-color: white;
  }

  @media (prefers-color-scheme: dark) {
    border-color: #3c4043;
    background-color: #202124;
  }

  p {
    margin: 0;
  }

  .gpt-inner {
    padding: 15px;
    line-height: 1.5;
  }

  .icon-and-text {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .icon {
    padding-top: 2px;
    margin-right: 5px;
  }

  .manual-btn {
    cursor: pointer;
  }

  .gpt-loading {
    color: #b6b8ba;
    animation: gpt-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  #answer {
    font-size: 15px;
    line-height: 1.6;
    border-radius: 8px;

    pre {
      margin-top: 10px;
    }

    & > p:not(:last-child) {
      margin-bottom: 10px;
    }

    code {
      white-space: pre-wrap;
      word-break: break-all;
    }

    pre code.hljs {
      padding: 0;
      background-color: transparent;
    }

    ol li {
      list-style: disc;
    }

    .gpt-link {
      float: right;
      font-size: 13px;
      margin-top: 5px;
      text-decoration: underline;
      color: black;
      opacity: 0.8;

      &:visited {
        color: black;
      }
    }

    .gpt-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      p {
        font-weight: bold;
      }

      .gpt-feedback {
        display: flex;
        gap: 6px;
        cursor: pointer;
      }

      .gpt-feedback-selected {
        color: #f08080;
      }
    }

    .gpt-tip {
      font-style: italic;
      margin-top: 10px;
    }
  }
}

.recording-icon {
    background-color: red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .blink {
    animation: blink 2s linear infinite;
  }

  .floating-input-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;

    .top-bar {
        display: flex;
        align-items: center;
        user-select: none;
        margin-bottom: 5px;
      }
      
      .drag-handle {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: grab;
        margin-right: 5px;
      }
      
      .title {
        font-weight: bold;
        margin-bottom: 3px;
      }
      
      textarea {
        resize: none;
        width: 100%;
        font-family: inherit;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 10px;
        box-sizing: border-box;
        overflow-y: auto;
        min-height: 50px;
      }
      
      button {
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4;
        color: #333;
        background-color: #fff;
        border-color: #ccc;
      }

      .close-button {
        position: absolute;
        top: 12px;
        right: 12px;
        cursor: pointer;
      }
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999997;
    background-color: rgba(0, 0, 0, 0.5);
  }